/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+abap+actionscript+apacheconf+apl+applescript+asciidoc+aspnet+autoit+autohotkey+bash+basic+batch+c+brainfuck+bro+bison+csharp+cpp+coffeescript+ruby+css-extras+d+dart+diff+docker+eiffel+elixir+erlang+fsharp+fortran+gherkin+git+glsl+go+groovy+haml+handlebars+haskell+haxe+http+icon+inform7+ini+j+jade+java+json+julia+keyman+kotlin+latex+less+lolcode+lua+makefile+markdown+matlab+mel+mizar+monkey+nasm+nginx+nim+nix+nsis+objectivec+ocaml+oz+parigp+parser+pascal+perl+php+php-extras+powershell+processing+prolog+protobuf+puppet+pure+python+q+qore+r+jsx+rest+rip+roboconf+crystal+rust+sas+sass+scss+scala+scheme+smalltalk+smarty+sql+stylus+swift+tcl+textile+twig+typescript+verilog+vhdl+vim+wiki+yaml */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
.aigis-module>pre>code[class*='language-'],
.aigis-module>pre[class*='language-'] {
  color: #f8f8f2;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.aigis-module>pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.aigis-module :not(pre)>code[class*='language-'],
.aigis-module>pre[class*='language-'] {
  background: #333333;
}

/* Inline code */
.aigis-module :not(pre)>code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.aigis-module>pre>code .token.comment,
.aigis-module>pre>code .token.prolog,
.aigis-module>pre>code .token.doctype,
.aigis-module>pre>code .token.cdata {
  color: slategray;
}

.aigis-module>pre>code .token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.aigis-module>pre>code .token.property,
.aigis-module>pre>code .token.tag,
.aigis-module>pre>code .token.constant,
.aigis-module>pre>code .token.symbol,
.aigis-module>pre>code .token.deleted {
  color: #fa8072;
}

.aigis-module>pre>code .token.boolean,
.aigis-module>pre>code .token.number {
  color: #ae81ff;
}

.aigis-module>pre>code .token.selector,
.aigis-module>pre>code .token.attr-name,
.aigis-module>pre>code .token.string,
.aigis-module>pre>code .token.char,
.aigis-module>pre>code .token.builtin,
.aigis-module>pre>code .token.inserted {
  color: #b0e0e6;
}

.aigis-module>pre>code .token.operator,
.aigis-module>pre>code .token.entity,
.aigis-module>pre>code .token.url,
.aigis-module>pre>code .language-css .token.string,
.aigis-module>pre>code .style .token.string,
.aigis-module>pre>code .token.variable {
  color: #f0e68c;
}

.aigis-module>pre>code .token.atrule,
.aigis-module>pre>code .token.attr-value,
.aigis-module>pre>code .token.function {
  color: #dfd68a;
}

.aigis-module>pre>code .token.keyword {
  color: #76b9c7;
}

.aigis-module>pre>code .token.regex,
.aigis-module>pre>code .token.important {
  color: #f5deb3;
}

.aigis-module>pre>code .token.important,
.aigis-module>pre>code .token.bold {
  font-weight: bold;
}

.aigis-module>pre>code .token.italic {
  font-style: italic;
}

.aigis-module>pre>code .token.entity {
  cursor: help;
}